<span id="edit-button" class="editable" style="display: none;"><i class="icon"></i></span>
<div class="container-fluid">
    <div class="row-fluid">
        <span class="span3"><img src="images/default.jpg"/></span>
        <span class="span9">
            <address>
                <strong><span class="x"><%= firstname %></span> <span class="x"><%= lastname %></span></strong><br>
                <span class="x"><%= line1 %></span><br>
                <span class="x"><%= city %></span>, <span class="x"><%= state %></span> <span class="x"><%= zip %></span><br>
                <abbr title="Phone">P:</abbr> <span class="x"><%= home %></span><br/>
                <abbr title="Mobile">M:</abbr> <span class="x"><%= mobile %></span>
            </address>
        </span>
        <!--<button class="btn btn-primary pull-right" style="display: none;">Edit</button>-->
    </div>
</div>